[2015-03-04 13:38] lucidd opened #43 "Issues with tests"
While working on #42 i found a few problems that i want to discuss and get some feedback first before changing anything.

#### `testLoginFailure`

I'm not completely sure what [testLoginFailure](https://github.com/SUSE/saltstack-netapi-client-java/blob/master/src/test/java/com/suse/saltstack/netapi/client/SaltStackClientTest.java#L72-L80) tests. From what i can tell i would say it was supposed to

[2015-03-06 15:35] lucidd opened #47 "Implement the Requests field of cherrypy.Applications"
As seen in `stats_response.json` used by the tests the there is a `Requests` field in `CherryPy Applications`. As of now i could not find any documentation of its structure but as @moio  mentioned looking at the source or asking IRC/Mailing List might reveal some details.  I will look into this but feel free to leave a comment if you found some information.

[2015-03-10 00:47] lucidd opened #49 "Clarify usage of kwargs"
@renner can you clarify what the `kwargs` parameter in methods like `startCommand` is used for? As far as i can tell it only adds additional properties to the JSON but i don't know what i would use that for.

Initially i thought it would be to pass parameter to the remote function by name instead of by position but after a bit of research i found out that the `kwarg` property is used for that.

[2015-03-10 16:51] renner commented on #49
Good catch, this actually looks like a bug around `ClientUtils.makeJsonData()`: All the `kwargs` that are passed to e.g. `startCommand()` were originally supposed to end up in a JSON property named `kwarg`, which is the one that you are mentioning. The current code just puts them as separate JSON properties named after the keys instead.

Feel free to send a pull request in order to fix that, other

[2015-03-10 23:38] lucidd commented on #49
Thanks for the clarification i will submit a PR to fix it.

[2015-03-11 18:08] lucidd commented on #47
This was fixed by #44

[2015-03-11 18:08] #47 closed

[2015-03-13 14:22] renner opened #52 "Run checkstyle on test classes"
When looking at [SaltStackClientTest.java] (https://github.com/SUSE/saltstack-netapi-client-java/blob/master/src/test/java/com/suse/saltstack/netapi/client/SaltStackClientTest.java) it seems that we do not run checkstyle on the test classes, there is long lines and star imports.

[2015-03-13 15:36] #49 closed

[2015-03-13 15:51] hustodemon commented on #52
will take a look at it tomorrow.

[2015-03-14 21:50] lucidd commented on #52
@hustodemon setting `includeTestSourceDirectory` to true works there are quite a few violations to fix. I will submit a PR so you can focus on getting #45 merged if that's ok for you :)

[2015-03-15 11:02] hustodemon commented on #52
No probs, as soon as this is merged, I'll rebase #45. Thanks!

[2015-03-16 09:44] #52 closed

[2015-03-25 06:25] hustodemon opened #57 "Stability of SaltStack API"
Hi everyone,
I was just browsing through SaltStack sources and I was thinking about
their API we consume. One particular thing worries me a bit: how much stable is
it?

Usually when one works with any kind of API, he/she assumes it is kind of
stable (ideally between major versions of the project). When looking at the
sources of SaltStack, I found out that their API is just a thin layer that
"trans

[2015-03-25 10:33] isbm commented on #57
Within the version, unlikely. Between the major versions Salt is changing internally (mostly expands, almost keeping backward compatibility). Not sure how it affects APIs though, try testing against it at 2015.2?

But Salt guys _certainly_ should be aware of this library and reference it.

[2015-03-26 07:11] moio commented on #57
@hustodemon, I see your concerns. SaltStack in general and this REST API we consume in particular do not have the stability of, say, the typical Apache project. This ecosystem is still pretty new and "bubbling" here and there, so there is a concrete possibility that we'll have to keep our code up-to-date as upstream changes things, and there is also a possibility that our side will become messy at

[2015-04-02 05:50] moio commented on #57
@hustodemon, I saw no reply from you in the last week, so I am closing this. Feel free to reopen it anytime if you have further comments.

[2015-04-02 05:50] #57 closed

[2015-04-02 05:53] moio commented on #43
Your points make sense to me. Feel free to proceed fixing them (in case they are still relevant), otherwise let's simply keep this issue open not to forget about it.

Thanks

[2015-04-02 06:32] hustodemon commented on #57
Yes, I wanted to close it anyway. The fact Spacewalk/SUSE Manager will support only some versions of SaltStack answers the issue.

(Off-topic: About your last point: is there any other way devels of this project can exchange messages? I see no mailing lists/IRC.... I only created the issue because I saw no other way to ask about this concern.)

[2015-04-02 06:49] moio commented on #57
@hustodemon, sure! The quickest way to reach us is on `#spacewalk` FreeNode. Feel free to join anytime!

[2015-04-04 20:01] lucidd commented on #43
It should be still relevant. I will prepare a PR as soon as i have some time.

[2015-05-12 12:28] renner opened #63 "Event processing is not completely shutdown"
Not sure if this is actually a problem, it might be even expected: Running the minimal example below does apparently not shutdown the event processing thread completely, even though `shutdownNow()` is used in [`close()`] (https://github.com/SUSE/saltstack-netapi-client-java/blob/master/src/main/java/com/suse/saltstack/netapi/event/EventStream.java#L158). Instead the process keeps on running until

[2015-05-12 12:34] renner opened #64 "Logout could return a boolean instead of a string result"
The current `logout()` method returns a `Result<String>`, which in my test environment weirdly even says "Welcome". While posting to the `/logout` endpoint should actually return ["Your token has been cleared"] (https://github.com/saltstack/salt/blob/develop/salt/netapi/rest_cherrypy/app.py#L1481), I guess we could change the return type of the `logout()` to boolean (in case the string matches the

[2015-05-18 09:12] renner opened #68 "Travis could generate and publish javadocs with every build"
Travis could generate javadocs with every build, at least as long as it is the master branch that's being built. An always up to date development version of the javadocs can then be automatically pushed to github pages I guess. Note that the current [v0.1.0 javadocs] (http://suse.github.io/saltstack-netapi-client-java/apidocs/) were pushed manually.

How others are doing this:
- http://benlimmer.c

[2015-05-19 12:07] lucidd commented on #43
Fixed by #66

[2015-05-19 12:07] #43 closed

[2015-05-20 22:04] lucidd commented on #63
I guess it is a problem. I noticed while experimenting on travis for #68 that a test run failed because `JerseyServerSentEventsTest` got stuck and travis terminated the run.
You can find the test run [here](https://travis-ci.org/lucidd/saltstack-netapi-client-java/jobs/63388794) (scroll to the end of the logs to see the error message).
Upon running `mvn test` multiple times locally i could reprodu

[2015-05-22 09:20] renner commented on #64
I found out that `logout()` is actually broken since we don't POST: passing `null` as data will create a GET request, which is also the reason why "Welcome" is returned. I just fixed this in a branch with dcc30c25765dbd89bbe2ab05553676f6e2403ffe. I will further change the method signature of `logout()` to return a boolean and then make a pull request.

[2015-05-26 09:47] lucidd commented on #68
Fixed by #69

[2015-05-26 09:47] #68 closed

[2015-05-27 06:43] renner commented on #64
Fixed with #71.

[2015-05-27 06:43] #64 closed

[2015-05-28 08:02] renner opened #72 "Make jar file available via maven central"
We should make the library jar file available via [maven central] (http://maven.apache.org/guides/mini/guide-central-repository-upload.html) so it will be easier for anyone to include it with their project via pom.xml.

[2015-05-31 11:15] lucidd commented on #63
As far as i can tell the problem is the `EventInput.read()` call that blocks the thread. I thought that closing the `EventInput` would take care of that and interrupt it but it seems that `EventInput.close()` does nothing. It passes the close to the underling `InputStream` which is a special implementation by them called `UnClosableInputStream` and only logs that close has been called but nothing

[2015-06-02 06:31] renner opened #75 "Use TypeAdapter over JsonDeserializer"
[Gson Javadoc for `JsonDeserializer`] (https://google-gson.googlecode.com/svn/trunk/gson/docs/javadocs/com/google/gson/JsonDeserializer.html) says: "New applications should prefer TypeAdapter, whose streaming API is more efficient than this interface's tree API". We still have some implementations of `JsonDeserializer` in the `JsonParser` class that should be converted, namely:

- `StatsDeserializ

[2015-06-08 09:46] winglet commented on #63
Hi all.
@lucidd  I've been digging around this for a few days now as I'm having some issues passing the tests in my local env. I might have set up something wrong or my issues might be related to your travis fails.
Specifically I'm failing 3 tests (2 errors and 1 fail) in `JerseyServerSentEventsTest` - namely `testEventMessageContent()`, `testEventProcessingStateStopped()` and `shouldFireNotifyMul

[2015-06-08 10:03] renner commented on #63
Hey @winglet, thanks for your efforts investigating this issue! Please note that my code example should just represent a minimal block of code to reproduce the bug, it surely will not show any events and was never supposed to do that.

[2015-06-08 11:49] lucidd commented on #63
@winglet Thanks for reporting. It seems that you have different problems then what i experienced so far. All the tests pass fine for me it is just that in rare cases like (1 / 100 runs)  one test hangs. That's also what happened on travis it got stuck and the 10 minute travis timeout killed the test. Can you give us a little more information about  your test environment?

[2015-06-08 12:07] winglet commented on #63
@renner Yup, makes sense. I was lazy enough to just copy/paste/run. Sorry about that :-)
@lucidd Nothing too special or customized AFAIK. Eclipse Luna Service Release 2 (4.4.2), jre 1.8.0_45, gson 2.3.1, JUnit  4.12 (jersey attached as an image:
![jersey](https://cloud.githubusercontent.com/assets/12730010/8034347/aa44974c-0dde-11e5-8c88-5ee6c243a96d.jpg)
Anything else that might be relevant?

[2015-06-08 15:32] lucidd commented on #63
@winglet did the tests only fail in your eclipse setup or do they also fail when you run `mvn test`?

[2015-06-08 16:31] winglet commented on #63
Same 2 errors and 1 fail when `mvn test` https://gist.github.com/winglet/5f655034c153c9f07d0a#file-gistfile1-txt

[2015-06-08 19:38] lucidd commented on #63
@winglet the `IndexOutOfBoundsException` definitely looks like a different bug. Judging from the screenshot it looks like you are on windows so it might be related to different newline characters. It might be that your git client is configured to convert newlines on checkout and commit. Can you post the output of `git config --list`.

[2015-06-08 22:07] winglet commented on #63
Spot on !
I'm on windows indeed and I'm using egit on eclipse.
Changed egit config to:
[code]
change being the addition of `autocrlf = true` and I re-checked out events_stream.txt
All tests pass now!
Sorry for the confusion.

On the initial issue (event thread staying alive) I think too that the issue lies in the implementation of `close()` in jersey's `org.glassfish.jersey.client.ChunkedInput`
[c

[2015-06-09 08:32] lucidd commented on #63
@winglet No problem. Glad to here that it works now.

As for the the problem with closing. When i was debugging that part of the code the the `InputStream`  used by `org.glassfish.jersey.client.ChunkedInput` was of type `UnclosableInputStream` and the close method of that is:

[code]

So calling close on the `ChunkedInput` does nothing because its just calling close on the `UnclosableInputStream`.

[2015-06-09 09:49] hustodemon commented on #75
(We should bear in mind that `JsonDeserializer` is null-safe by default (according to my research it uses null-safe `TreeTypeAdapter` internally).)

[2015-06-10 06:39] renner opened #77 "DateAdapter should not be null-safe per default"
The current generically used [`DateAdapter`] (https://github.com/SUSE/saltstack-netapi-client-java/blob/master/src/main/java/com/suse/saltstack/netapi/parser/JsonParser.java#L98) is *null-safe* per default: whenever an expected date is missing in the returned JSON the library would just silently accept that. Instead we should probably fail per default and rather support the declaration of optional

[2015-06-11 22:43] winglet opened #79 "websocket interface"
Hi all.
So, I've been trying to set up and connect a toy netapi client to a saltapi websocket. My understanding (please correct me if I'm wrong) is that websockets in saltapi are implemented by rest_tornado* (http://salt-api.readthedocs.org/en/latest/ref/netapis/all/saltapi.netapi.rest_tornado.html) which I installed in my saltstack POC installation.

I managed to connect allright on the server it

[2015-06-12 05:35] moio commented on #79
@winglet, I guess the main question here would be, would this improve the library functionality?

We already have an endpoint to to `events`, which as stated by rest_tornado documentation offers similar functionality:

http://salt-api.readthedocs.org/en/latest/ref/netapis/all/saltapi.netapi.rest_tornado.html

So my answer would be yes, this might be interesting, but only if this improves over the

[2015-06-12 09:10] lucidd commented on #79
@moio @winglet Since i don't see how we can solve #63 it would be really interesting if this can replace the sse `/events` endpoint completely without having the same problems of not being able to cancel a read to shutdown the connection from the client side.

[2015-06-12 10:01] moio commented on #79
@lucidd, another possibility would be to report the Jersey bug upstream or even propose a fix there, or replacing Jersey with some other implementation.

I have no idea how hard those options are, but I am not too happy to require two separate APIs on the Salt server and add a moving part. If the WebSocket option can do things we can't do otherwise OK, but if it is equivalent I am not sure it is w

[2015-06-12 11:50] winglet commented on #79
The curl/Python toy 'client' seems to work fine with rest_tornado salt module but I still cannot make it with a Java/websockets client (in short I'm hitting a Handshake error which in turn stems from server replying with 404 when trying to set up the websocket). I'm still researching it (not much info around and this is going slowly - side job) but in the process I hit a thread where it seems that

[2015-06-15 19:15] whiteinge commented on #79
Quick note: the `rest_tornado` netapi module is not 100% API compatible with the `rest_cherrypy` netapi module at this time. I will not deprecate `rest_cherrypy` until moving from one to the other is seamless. I have no near-term plans to begin that work and so I estimate the `rest_cherrypy` driver will continue to be the officially-supported REST API for the rest of the year. When we make that sw

[2015-06-16 06:34] moio commented on #79
@whiteinge, thanks for sharing, this makes planning our future work a lot easier!

From my perspective using WebSockets is simply an implementation detail of a possible solution to issue #63, as IIUC it is not a feature per se. As @whiteinge suggested, it is probably wise to keep using `rest_cherrypy` for the time being, so the `salt.netapi.rest_cherrypy.app.WebsocketEndpoint` class seems to be th

[2015-06-16 08:31] winglet commented on #79
@moio Yes, I'm OK with it.
PS: Thanks for asking my opinion guys - provided I'm 2 weeks old in here that was impressive :smile:

[2015-06-16 09:02] lucidd commented on #79
@moio yes is think we can close this issue and open one for experimenting with the `rest_cherrypy` `/ws` endpoint. Like you said unless the websocket endpoint offers more functionality/information its merely an implementation detail. One think we should think about is if we need both SSE and Websocket if we can cover both with one then i don't see a reason to add another library just to provide th

[2015-06-16 18:35] whiteinge commented on #79
The SSE stream from `rest_cherrypy` is mature and frequently used by our customers and by SaltStack; it will continue to see development and maintenance. The websockets endpoint is currently status unknown and any near-term effort there will need to be community driven because we do not have a current business need for it nor do we have spare development cycles to throw at it (at this time). I, pe

[2015-06-16 22:58] winglet commented on #79
@whiteinge Hi Seth. Thanks for the remarks. I got a bit further with this. I recapped the issue I'm hitting here: https://github.com/saltstack/salt/issues/24730

[2015-06-17 05:54] moio commented on #79
Closing this issue as per above comments, thanks everyone for the discussion!

[2015-06-17 05:54] #79 closed

[2015-07-01 07:12] 0312birdzhang opened #80 "Can you post this to maven repository?"
:smile:

[2015-07-01 07:16] 0312birdzhang commented on #80
I'm sorry , search "saltstack" can found,but "salt" not :joy:

[2015-07-01 07:16] #80 closed

[2015-07-01 08:08] renner commented on #80
Hello @0312birdzhang, we will make the library available via the maven central repository (if that is what you mean), but unfortunately we are not completely there yet. We are tracking this with #72.

In the meantime please download the jar from the [releases] (https://github.com/SUSE/saltstack-netapi-client-java/releases).

[2015-07-01 08:14] renner commented on #72
Necessary modifications to pom.xml were merged with #76.

[2015-07-01 11:26] 0312birdzhang commented on #80
@renner yeah,i mean this. Thank you.

[2015-07-01 11:36] 0312birdzhang opened #81 "getJobs Exception"
My code is:
[code]
Excetion happened when executed to  <code>Map<String, Job> jobs = client.getJobs(); </code>
I can get minions and run commands,but getjobs not work.
The exception message:
[code]

[2015-07-01 12:56] hustodemon commented on #81
Hello! This could be a bug.

Could tell us what are the values of `params` and `kwargs` variables you are passing to `client.startCommand(...)`?

Also I think it would be interesting if you could paste the output of the GET request on the `/jobs` endpoint. You can do it like this:

1. Firstly log in: `curl -sSk http://YOUR_PROXY:PORT/login -c cookies.txt -H 'Accept: application/x-yaml' -d username

[2015-07-01 13:06] 0312birdzhang commented on #81
[code]

I use
[code]
can get the jobs

[2015-07-01 19:40] whiteinge commented on #81
@0312birdzhang What version of Salt are you running?

There is a regression in the current develop branch (saltstack/salt#25107) that will be fixed. 2015.5 is unaffected.

[2015-07-02 01:36] 0312birdzhang commented on #81
@whiteinge salt 2015.5.1 (Lithium)

[2015-07-02 01:41] whiteinge commented on #81
Ok. Then you are not affected by the bug I referenced and this is
something else. I'll defer to @hustodemon. Sorry for the noise. :)

It may be helpful to see a sample of the data structure that you get
back from salt-api. If you are using an external job cache or a master
job cache some returner modules don't adhere to the correct return
structure (and should be fixed).

[2015-07-02 07:44] hustodemon commented on #81
@0312birdzhang :
I just tested on `salt-master 2014.7.1` with
[code]
and it works fine for me.

In https://github.com/SUSE/saltstack-netapi-client-java/issues/81#issuecomment-117658630, you said you can get the jobs. I'd be interested in the **JSON** output of this `curl` command. It'd help a lot with analyzing the issue.

@whiteinge Hi and thanks for the comments! I think there is some difference

[2015-07-02 07:51] whiteinge commented on #81
Yikes. Yeah, if the JSON output is different between 2014.7 and 2015.5 that is definitely a regression and a bug.

[2015-07-02 08:56] 0312birdzhang commented on #81
@hustodemon  The jobs i can get is from curl command,and the result is:
[code]

[2015-07-02 14:12] hustodemon commented on #81
@whiteinge Oh, so the API between those versions should be consistent? If it's really so, I'll go through the github issues and will possibly create an issue in salt.

@0312birdzhang Cool, thanks for the output! But I'd like to ask you for the **JSON** output. You mentioned you get your output by running
[code]
This produces **YAML**. Could you run the `curl` again but with
[code]
? That means:
[c

[2015-07-02 15:26] whiteinge commented on #81
@hustodemon it should absolutely be consistent between versions.

In addition I would recommend calling the runner directly instead of going through the `/jobs` wrapper URL. It will provide more raw output:

[code]

[2015-07-03 01:31] 0312birdzhang commented on #81
@hustodemon See here:
https://gist.github.com/0312birdzhang/308bed75aeb3d33c573d#file-jobs-json
Sorry for the late reply

[2015-07-04 02:00] mchugh19 opened #82 "Support expr_form"
The SaltAPI allows for setting a expr_form option which modifies what is selected by tgt.
http://docs.saltstack.com/en/latest/ref/clients/index.html#salt.client.LocalClient.cmd

By default glob is used, and it would nice to be able to select others such as nodegroup.

[2015-07-04 02:15] mchugh19 opened #83 "Support job status for unfinished jobs"
When kicking off a job, the saltapi response includes a minion array listing minion names and the job results. If the job is long running,  you can iterate through the number of minions that are targeted, and spin waiting for all to return.

Please support querying this minion listing.

[2015-07-04 02:23] mchugh19 opened #84 "Support additional client types"
Salt's api supports additional methods of interaction. Specially, it would be helpful to support local_batch and runner in addition to the existing local client type.

local_batch would allow for using the batch interface, while runner would allow for kicking off orchestrate jobs.

http://docs.saltstack.com/en/latest/topics/netapi/index.html#client-interfaces

[2015-07-04 15:13] lucidd commented on #84
The [run](http://suse.github.io/saltstack-netapi-client-java/docs/v0.2.0/com/suse/saltstack/netapi/client/SaltStackClient.html#run-java.lang.String-java.lang.String-com.suse.saltstack.netapi.AuthModule-java.lang.String-java.lang.String-java.lang.String-java.util.List-java.util.Map-) method already has a client parameter is that what you are looking for?

[2015-07-04 15:40] mchugh19 commented on #84
I don't think run returns a jid, just the minions responses that have returned. Also, we would need to specify a batch key with local_batch operations.

[2015-07-04 18:38] lucidd commented on #84
I'm not sure i understand. Could you point me to the netapi function [here](http://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html) and how you would call it to get what you want? A `curl` example would be nice. Same goes for the other 2 issues you opened with an example it would be easier to understand what exactly it is you want.

[2015-07-04 19:20] mchugh19 commented on #84
Sure can!

Here's an example a json post of the standard local client, using a flat "list" of minion IDs.
[code]

Here's an example of a json request to kick off a local_batch client request. Note the additional batch key:value pair.
[code]

Finally, here's an example of a json request using the runner client and the orchestrate function
[code]

In summary, it appears you will need to explicitly s

[2015-07-04 20:48] mchugh19 commented on #83
To clarify, when you send a long running job to salt, like in this example using sleep:
[code]
you get back a JID. When you lookup the job using that JID, you get back:

[code]

Note that the result, and return keys are empty, but the minion key is populated with the hosts we are waiting on. Thus, even though the job has not yet finished, we are able to see that we are waiting for two hosts in thi

[2015-07-04 20:59] mchugh19 commented on #82
It appears that expr_form is not currently able to be set via the existing methods. Here are some examples of the json the SaltAPI can use:

The default glob method
[code]

List
[code]

Nodegroup
[code]

[2015-07-05 10:00] lucidd commented on #82
Thank you for reporting this and for providing the examples. I just tested the `expr_form` on my local setup and it seems to work find for the `/minions` and the `/run` endpoint. We will definitely include a way to make use of this in the future.  If there is any other feature that you feel is missing from this library feel free to let us know. :smile:

[2015-07-06 09:12] hustodemon commented on #81
Thanks guys.

It seems that the problem is in the `Target-type` field. Our parser treats this field as a string, but according to saltstack source code this field can be also `[]` in some cases. This is not nice of the API but we should be able to parse this anyway.

@whiteinge I wonder if there is any possibility to get a comprehensive view of the Salt API? When I write a new parser, I usually `g

[2015-07-07 03:08] whiteinge commented on #81
That's odd. I can reproduce that locally with job cache results from runner functions too. I can't think of an instance where a target type is anything other than a string. I filed a ticket on the Salt repo and will follow-up on it in-office tomorrow.

@hustodemon you're right to want a documented view of the Salt API. I'd personally like to see a few things in Salt validated against a schema or a

[2015-07-07 20:44] whiteinge commented on #81
@0312birdzhang are you using a returner or the `external_job_cache` or `master_job_cache`? If so, which one are you using?

[2015-07-08 05:00] 0312birdzhang commented on #81
@whiteinge  master and minion are both on my localhost,so  i think it's <code>master_job_cache</code>
:laughing:  I'm a newer of salt

[2015-07-08 23:31] whiteinge commented on #81
Thanks for the reply. That's starting to make more sense. I think whatever returner module your `master_job_cache` setting points to has not be written according to standards. We need to vet all of them. What is that setting set to in your master config? We can start with fixing that one.

[2015-07-09 01:29] 0312birdzhang commented on #81
@whiteinge
[code]

[2015-07-09 08:40] hustodemon commented on #81
Ok guys, so it's indeed a bug in salt. I'm referencing the related question saltstack/salt#25199.

I suggest leaving this issue open for tracking until we release a new version. If the bug is not fixed in salt by then and we decide to handle it on our side, I will create a patch for that. But I hope this won't be needed - I'm definitely against polluting the code with workarounds.

Thanks

[2015-07-09 09:14] 0312birdzhang commented on #81
Thank you guys :smile:

[2015-07-09 10:13] renner commented on #72
Reopening until there is actually a release available on maven central.

[2015-07-10 07:40] hustodemon commented on #81
After more thinking I believe we should close this issue and move possible further discussion to the salt project page (as we are dealing with a salt bug here).

@0312birdzhang If you desperately need to use this library with your version of salt, you can try to apply a simple workaround I wrote [in this branch](https://github.com/SUSE/saltstack-netapi-client-java/tree/targettype_workaround).

[2015-07-10 07:40] #81 closed

[2015-07-10 08:56] 0312birdzhang commented on #81
@hustodemon Thanks very much !

[2015-07-12 14:37] renner commented on #72
Okay, a first release is now [available on maven central] (http://search.maven.org/#search|ga|1|a%3A%22saltstack-netapi-client%22). Have fun with it!

[2015-07-12 14:37] #72 closed

[2015-08-06 08:19] lucidd commented on #82
This got addressed by https://github.com/SUSE/saltstack-netapi-client-java/pull/88

[2015-08-06 08:19] #82 closed

[2015-08-07 06:24] AdamMajer commented on #83
This is work-in-progress. I would appreciate some feedback since this issue can be fixed in many ways.

The approach in this patch adds JobsState.PENDING enum that is artificially added to results set for minions that have yet to return. This may be a little blunt. API is not changed, but user now has to check if job is pending before processing minion's output.

An alternative is to parse `info`

[2015-08-07 10:08] lucidd commented on #83
@AdamMajer hey first of all thanks for your effort. I like your idea with the enum of different states a job can be in but i don't think we need to add it to the data itself. Instead i think it can be just a method that calculates the state of a minion on the fly when you ask for it.

One thing that would be interesting if we can differentiate between `Pending` (minion is still working on it) and

[2015-08-07 14:57] AdamMajer commented on #83
Sounds good. Then the way to go is to parse and return interface to the `info` structure. `Pending` state can be calculated on the fly there. It's definitely more flexible approach than stuffing state enum in results.

It seems that salt-api (http://salt/jobs/<jid> call) simply dumps the contents of `runner.jobs.list_job` and `lookup_jid` for output. This means getting results through `Info` shoul

[2015-08-10 06:16] renner opened #91 "Eclipse shows compile errors"
Eclipse fails to compile the code and shows compilation errors even though it compiles just fine using openjdk's javac via maven. [This patch] (https://gist.github.com/renner/6384c04933bd73285b2c) works around the issues for Eclipse version 4.5.

[2015-08-11 05:23] AdamMajer commented on #83
I've updated job result parsing. The first patch https://github.com/AdamMajer/saltstack-netapi-client-java/commit/9e3c4be9bc6a751fba746715ebb9214b924a17fa adds support for parsing the `info` part of result structure. This should also fit nicely with @lucidd 's work using
[runner.jobs.](http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.jobs.html#module-salt.runners.jobs) print_job (o

[2015-08-12 12:01] lucidd commented on #83
I'm not completely convinced by the states yet since the `pending` state is not really accurate. We don't really know if the minion is still executing or if the minion never got the job. I think having the method returning the result of a minion with `Optional` is enough since you can easily call `isPresent` to get the same information the states would cover now.

[2015-08-13 10:01] lucidd commented on #63
This issue should be fixed since we switched to websockets for events.

[2015-08-13 10:01] #63 closed

[2015-08-17 17:17] AdamMajer opened #96 "Add timezone support"
Currently, timezone returned as part of parsed Date objects is local timezone of the client. This timezone can vary from user to user, even on the same computer.

One of the following should be implemented,
   * Server's timezone would be detected and used by the Date parser
   * Alternatively, server's timezone should be configurable in ClientConfig

[2015-08-18 16:46] AdamMajer commented on #83
I think this issue can now be closed.

[2015-08-18 18:27] lucidd commented on #83
closing this since this feature is now supported as of #93 and #94

[2015-08-18 18:27] #83 closed

[2015-08-18 18:33] lucidd commented on #84
Wheel and Runner functions are now supported both synchronously and asynchronously with #94. `local_batch` is not yet supported but hopefully soon.

[2015-08-20 03:33] 0312birdzhang opened #98 "unable to find valid certification path to requested target"
Some test code
[code]
I can use
[code]
Console log:
[code]

[2015-08-20 08:25] renner commented on #98
Hey @0312birdzhang, what is the `saltapiurlString` you are using in your test code? Does it start with `https://`? Usually this exception means that java wants to connect via SSL, but the target server's CA certificate is missing in Java's truststore.

As a solution to this you should add the certificate to the truststore which can be done using [Java's keytool] (https://docs.oracle.com/javase/8/d

[2015-08-20 08:34] 0312birdzhang commented on #98
@renner Yeah,it start with<code>https://</code>,I had add<code>disable_ssl: true</code>to my conf file.
I will try to add the certificate,thank you.
So,it's not an issue,i will close it.

[2015-08-20 08:34] #98 closed

[2015-08-24 09:52] renner opened #99 "Refactor the main class"
The main library class (`SaltStackClient.java`) has grown quite a bit, especially since the recent merge of #94. It could make sense to refactor this class now, moving away the new methods (`callSync()` and `callAsync()`) into a separate *module* of the library for instance.

[2015-09-02 19:48] mchugh19 commented on #82
Hey all.

The expr_form functionality is looking good. But it looks like not all are supported. https://docs.saltstack.com/en/latest/ref/clients/ shows the api and it looks like we're missing:
pcre - Perl style regular expression
grain - Match based on a grain comparison
grain_pcre - Grain comparison with a regex
pillar - Pillar data comparison
pillar_pcre - Pillar data comparison with a regex
ran

[2015-09-02 20:30] lucidd opened #103 "Implement all expr_form types"
[all expr_forms](https://docs.saltstack.com/en/latest/ref/clients/)
maybe some relevant [documenatation](https://docs.saltstack.com/en/latest/topics/targeting/compound.html)
- [ ] pcre - Perl style regular expression
- [x] grain - Match based on a grain comparison
- [ ] grain_pcre - Grain comparison with a regex
- [ ] pillar - Pillar data comparison
- [ ] pillar_pcre - Pillar data comparison with

[2015-09-02 20:36] lucidd commented on #82
Hey thanks for the feedback. I opened a separate [issue](https://github.com/SUSE/saltstack-netapi-client-java/issues/103) to keep track the progress of `expr_form`. If there is any particular `expr_form` that you need the most just comment on that issue and let us know so we can prioritize that.

[2015-09-03 19:53] mchugh19 opened #104 "List issues with MinionList"
Perhaps I'm doing something wacky, but I'm unable to get the MinionList targetType to work with a list input.

[code]

Passing in a List seems to result in not sending a message to the salt master, thus leaving an a null ScheduledJob causing havoc. Passing in a plain "jessievm" string seems to work as expected.

[2015-09-03 22:08] lucidd commented on #104
The `commaSeperated` variable name suggests that you have a string with comma seperated values is that right? If so that won't work like that.
The `MinionList` can be created in 3 different ways.

[code]
Should output:
[code]

If you have a comma separated list and want to use that you have to turn it into an array or list first for example by using `split`.

[code]

Should output:

[code]

Also c

[2015-09-04 15:15] mchugh19 commented on #104
I think that's what I'm doing, but I'm still running into problems. The comma separated list was simply used to populate the List<String>. So it's really a List that's being sent to the MinionList.

[code]

I'll investigate migrating to callSync/callAsync. Thanks for the head's up.

[2015-09-04 15:38] lucidd commented on #104
I think the problem is the use of `Arrays.asList`. The only thing it does is put your string into a list. It does not split it in any way you have to use something like the String split method as described in my previous answer. Also make sure your minion names don't have whitespaces after you split the string otherwise it will not match.

[code]

[2015-09-04 16:48] mchugh19 commented on #104
In further testing, it might be the "stratos.kix." string which is causing the issues.

[code]

Where as running the same thing with a different target returns better results.
[code]

Crazily enough, I've also run into some funky conditions causing the scheduledJob variable to return badly:
targetlist [jessievm]
Running jid: 20150904115646754909
FATAL: java.lang.IllegalStateException: Expected a s

[2015-09-05 10:14] lucidd commented on #104
Are you sure the minion name `stratos.kix.` is right? i've never seen a minion name ending on . so i'm not sure if this is valid or a typo or something. Does it work if you use the `salt` command to execute something on the minion with this name?

[2015-09-05 13:34] mchugh19 commented on #104
Ha! Sorry for the noise, you are absolutely right. My domain at home I use for testing is .kix. Since it doesn't resolve, I have to enter the final . to keep webbrowsers from attempting to turn that term into a search. However, in the case of salt, its hostname is without the final dot.

After updating to an actual salt minion id name, everything works as expected. Thanks for working through this,

[2015-09-05 13:34] #104 closed

[2015-09-08 04:18] AdamMajer opened #108 "Integration tests vs. real Salt"
Unit tests are a great resource. But there should also be a way of verifying that API works correctly vs. real Salt server instead of just a wiremock.

Recently, there are dozens and dozens of Salt calls added to the library. Most of these are simple, convenience mappings and they probably work just fine today. But what happens if Salt changes - eg. upstream decision to change something? Then mayb

[2015-09-08 06:03] moio commented on #108
Great idea, this would be very cool to have (ideally in Travis CI or, if that's not feasible, in a Dockerized workload triggered by SUSE's internal Jenkins host).

Pull requests are very much welcome in this direction!

[2015-09-11 23:06] AdamMajer commented on #96
Completed in https://github.com/SUSE/saltstack-netapi-client-java/commit/a3fb6de5c3bf9f0cb122e5d0444138d007889366 . Closing

[2015-09-11 23:06] #96 closed

[2015-09-14 22:31] wallner commented on #75
I would like to try my hand on this, is this still being worked on? If not I would like to have a got at it this week.

[2015-09-15 09:41] lucidd commented on #75
@wallner I'm not aware of anyone actively working on this issue so feel free to take it on. PRs are always welcome :smile:

[2015-09-22 16:19] lucidd opened #117 "Document module classes"
The module classes and functions have not been documented so far since they are only bindings to the salt module functions and the documentation already exists there. Furthermore our library may work with different salt versions which could have slightly different but documented behavior. In that case our documentation would never be correct since it always depends against which salt version you r

[2015-09-23 06:19] AdamMajer commented on #117
Providing a link to latest external documentation is OK, but for SUSE these should probably be transformed to `file://` links in salt-doc package. The later can be done with a small script that transforms and validates links before javadoc is generated. Hopefully nothing more than `sed` and tiny bash script is needed here.

One sentence description of what each function/class does should be includ

[2015-09-23 09:19] isbm commented on #117
On top of [Oracle's guide for Javadoc](http://www.oracle.com/technetwork/java/javase/documentation/index-137868.html) my reasoning is that additionally:

* It is not _handy_ to code with this library and IDE does not show any quick docs at all.
* Having no docs at all seems like something is not finished.
* Usually all typical bindings, say to ZMQ via JNI, also have docstrings. Even JAXB to the we

[2015-09-23 14:13] renner commented on #91
Pushed e6ce657 to permanently fix these errors:

![eclipse-errors](https://cloud.githubusercontent.com/assets/729454/10045728/34a9b24e-6205-11e5-89c2-d34e1e23cd99.png)

[2015-09-23 14:13] #91 closed

[2015-09-24 04:17] AdamMajer commented on #99
Can you clarify term *module*?

The `callSync()` and `callAsync()` members could be moved as member functions of `calls` package taking `SaltStackClient` as parameter. So for example, `WheelCall.java` would have a `callSync(SaltStackClient client)` and similar async function.

[2015-09-24 13:52] lucidd opened #118 "Expose a low level raw way to call salt functions without the typechecking"
The idea is to provide a low level interface to call salt modules without the need to have a `Call` object. This should make it easy to call functions that are not implemented as `Call` objects yet.

[2015-09-24 15:38] isbm commented on #118
Not exactly as low level, but generic type-less, which will enable to call anything as is. Surely, it will add overhead of boilerplate code, but then users will have a choice:

- Implement new stuff & submit patch here (not everyone can due to the common internal company policies in generally proprietary companies)

- Use generic way with own boilerplate and then later replace, once library matche

[2015-09-25 06:33] renner commented on #99
Sorry for the late reply, I mean a separate class, while leaving it open how this should be designed. What would be important to me is that we create a nice API for the users of the library that allows to write beautiful and readable code. Thanks for your pull request, I will have a look and give feedback there.

[2015-10-09 03:48] AdamMajer commented on #108
This can be done in Travis CI, to an extent, but maybe that approach is a little "*overkill*" since aim here would be to test functionality between salt versions. For regular testing, pre-generated test cases should suffice.

I propose,

   * record requests/responses from real salt - this can be done with wiremock, in "generate_tests" or similar target.
   * replay above in normal unit tests.

[2015-10-09 16:43] cljvf9 opened #125 "Hey all,"

[2015-10-09 16:43] #125 closed

[2015-10-09 17:18] cljvf9 opened #126 "Saltstack version compatibility?"
Hi guys,

I am running into a problem when trying to use this module. I am trying to issue an ad-hoc command to a minion via the run() method in the SaltStackClient class. Here is the code I am trying:
[code]
The above code produces a NullPointerException when trying to do ```resultInfo.getResult("myhostname")``` to get the output. I did some debugging and grabbed the request body that gets genera

[2015-10-09 20:32] lucidd commented on #126
Hi @cljvf9 thanks for reporting this. It looks like you are right and the run method is indeed broken right now. Luckily this is part of the "old" API and will be removed in a future version.

The new recommended way to call salt functions is with the `callSync/callAsync` methods. This should at least work with the 2015.8.0 and probably also with 2015.5.2 but i have not tested that.

Here is what

[2015-10-12 14:39] cljvf9 commented on #126
It looks like using callSync the way you described accomplishes what I need. Thanks!

[2015-10-12 15:35] lucidd commented on #126
@cljvf9 Glad i could help :smile:

[2015-10-13 14:58] renner commented on #126
It feels like this issue should stay open until it is either fixed or until we removed the broken method from the codebase. Despite the fact that there is a valid workaround available this still describes a known issue with the current code. Pull requests are welcome to fix it at this moment, just note that we will most likely drop the `run()` method in favor of `callSync()/callAsync()` in the lon

[2015-10-16 09:37] renner commented on #75
There is no `JsonDeserializer` implementations left after the merge of #124. Thanks for the patch @mathall! Closing this issue.

[2015-10-16 09:37] #75 closed

[2015-10-26 08:15] cinterloper opened #132 "Set IdleTimeout on Tyrus?"
there is a very short default idle timeout on the websocket container when using Tyrus:
(Java)
 got event: salt/job/20151026074505629209/ret/balthazarServer
 with data:
 [fun_args:[], jid:20151026074505629209, return:[datasets:[NAME          USED  AVAIL  REFER  MOUNTPOINT, core         6.58M  7.81T  5.73M  /core, core/docker   170K  7.81T   170K  /var/lib/docker]], retcode:0.0, success:true, cmd:_

[2015-10-26 10:14] lucidd commented on #132
Hi the timeout should be configurable via the `ClientConfig` like so.

`client.getConfig().put(ClientConfig.SOCKET_TIMEOUT, 0)`

[2015-10-27 06:15] cinterloper commented on #132
Ah, i was going about it wrong, i was trying to get client.events() then set it, and i was also trying to do new EventStream(cfg,listener), which appears to be possiable in the master branch, but not in .6 just EventStream(cfg).addEventListener(listener)
https://github.com/cinterloper/saltstack-netapi-client-java/blob/master/src/main/java/com/suse/saltstack/netapi/event/EventStream.java#L78

anywa

[2015-10-27 06:15] #132 closed

[2015-10-27 09:50] lucidd commented on #132
After you set the timeout int he ClientConfig the eventStream returned by `client.events()` will also have the timeout.

[2015-12-09 11:49] #126 closed

[2015-12-09 12:28] renner commented on #126
This should be fixed now as #134 was merged. Thanks for the patch @mbologna!

[2015-12-11 12:15] renner opened #138 "SaltStackClientTest runs shows Slf4jNotifierError stacktraces"
This is not a serious issue, but it would be nice to get rid of those stacktraces in the test output, see for instance [here](https://travis-ci.org/SUSE/saltstack-netapi-client-java/builds/95994247#L1824) (and go to line 1824 by manual scrolling if necessary).

[2016-01-31 22:45] renner commented on #99
Closing this issue after the merge of #120.

[2016-01-31 22:45] #99 closed

[2016-03-01 22:39] whiteinge commented on #81
This may have been resolved in Salt. See [this comment](https://github.com/saltstack/salt/issues/25199#issuecomment-190937947).

[2016-04-17 15:43] mchugh19 commented on #103
The code has changed lots since this was opened. Is the recorded state still accurate?

[2016-04-17 15:46] mchugh19 commented on #84
Thanks all! Support for local_batch is necessary for the [jenkins saltstack plugin](/jenkinsci/saltstack-plugin) to make use of this library.

[2016-04-22 19:10] renner commented on #103
Unfortunately it looks like the checklist of unimplemented matchers is still accurate, even though a lot of other code has changed. The referenced [branch] (https://github.com/SUSE/saltstack-netapi-client-java/tree/full-expr-form-support) does not seem to exist anymore, though. @lucidd, does your patch live on somewhere else meanwhile?

[2016-04-23 08:37] lucidd opened #149 "Add module name information to Call classes."
This will allow us to use the call objects to generate input for functions like `state.high` and `state.low`.

[2016-04-29 11:52] lucidd commented on #84
Hey it should not be too hard to add `local_batch` support. It would only require an additional parameter for batch to the `callSync` methods in `LocalCall` and then passing that down with different client value. If you like you could try that out and report back how it works. I have not yet used local_batch so i don't no the implications of that.

[2016-04-29 11:56] lucidd commented on #103
the branch only contained grains so far and that part got merged.

[2016-07-01 11:49] manikantag opened #162 "Getting JSON exception when Saltstack returns an error"
Hi, I found this project very useful, and using it actively.

I m facing an issue whenever Saltstack returns some syntax or template error, library is not able unmarshall the API returned JSON to Object and is causing JSON unmarshall exception.

Example error response from Salt API server:

	{"return": [{"ubuntu": ["Rendering SLS 'base:test' failed: Jinja error: 'NamespacedDictWrapper' object has

[2016-07-01 18:07] lucidd commented on #162
Glad to hear that you find this project useful. We addressed this issue recently and its already in the master branch. What you would get now is something like this.

[code]

Instead of throwing an exception you now get a `GenericSaltError` or in some cases a more specific error instead of the result value. This is handled on a per minion basis so successful minions results are unaffected by error

[2016-07-02 02:41] manikantag commented on #162
Excellent :) Currently we are moving to staging. Will wait for the next release, unless we see a road blocker with current one. Thanks.

[2016-07-02 02:41] #162 closed

[2016-07-02 05:42] cinterloper opened #163 "WARNING: Invalid cookie header"
Is it normal to receive log messages like this?

[code]

[2016-07-02 23:04] renner commented on #163
If haven't seen those warnings yet, what exactly would I do to reproduce this?

[2016-07-04 16:37] cinterloper commented on #163
This occurs for me when i execute this piece of code
`https://github.com/cinterloper/vertx-salt/blob/master/src/main/resources/saltConnection.groovy`

thats an example that should connect to salt-api on localhost:8000 plaintext.

the salt master i have configured with the following stanza:
[code]

to build that project (vertx-salt)
./gradlew clean shadoJar
to run
 java -jar build/libs/vertx-salt-3

[2016-07-04 18:01] cinterloper commented on #163
fwiw, this is the full salt-master config
[code]

[2016-07-07 10:43] caidongqing opened #164 "add the cp module to execute the function like 'fun='cp.push',fun='cp.get_file''"
I want to excute the folloow salt-api with salt-netapi-client。 Has the funtion already been added,or I did not find it? Someone show me a model please,thank you!

curl -k https://192.168.1.72:8000 -H "Accept: application/x-yaml"         -H "X-Auth-Token: c203344e84448e60582acc662d0108d69948dbfd"         -d client=local  -d tgt='slave1' -d fun='cp.push' -d arg="/opt/tmp/tmp1.tar.gz"

[2016-07-07 16:41] renner commented on #164
@caidongqing: Hello, I will give you an example. We do not (yet) have built-in support for the `cp` execution module, but this is still really easy to achieve:

[code]

Any calls can be executed in this way, you only need to figure out what Salt will actually return for each targeted minion. In this case it seems to be a `Boolean` so we can simply create a `LocalCall<Boolean>`. Let me know if this

[2016-07-07 20:58] nw0428 opened #165 "Getting empty responses from a localCall.callSync"
When I run the following code: `result = localCall.callSync(client, globTarget, saltUser, saltPassword, AuthModule.PAM);` result is an empty map.

[2016-07-08 02:25] caidongqing commented on #164
thank you,It works perfectly。yestody I also solved it with creating a class Cp In 'modules'。

[2016-07-08 06:12] renner commented on #165
Hey @nw0428, we need more information to further debug your issue: what exact type of a call is the `localCall` in your example? Could it possibly be the case that your `globTarget` does not actually match any minions? Does `PAM` authentication work for you otherwise? Please give enough code so that we can actually try to reproduce the issue, thanks!

[2016-07-08 06:15] renner commented on #164
I am glad that it works for you, feel free to contribute your `Cp` class via a pull request. Thank you!

[2016-07-08 06:15] #164 closed

[2016-08-01 08:03] #84 closed

[2016-08-01 08:18] renner commented on #84
@mchugh19: We just merged #171 adding in support for the `local_batch` client. It would be great if you tested it with your jenkins plugin and let us know if it works. Just build a jar from the current `master` branch using `mvn package`.

The only unsupported clients are now `local_subset` and `ssh_async` which seems to be actually unimplemented in salt.

[2016-08-01 10:13] mchugh19 commented on #84
Fantastic! I've just relocated to Ireland from the US, so it will take me a little bit to get set up, but I'll get on it.

[2016-11-10 02:56] jinweijie0527 opened #176 "new RunnerCall error"
RunnerCall<List<String>> up = new RunnerCall("manage.up", Optional.empty(), new TypeToken() {
            });
error:java.lang.RuntimeException:Missing type parameter

[2016-11-10 08:13] jinweijie0527 commented on #176
i have solved the issue.
RunnerCall<List<String>> up = new RunnerCall("manage.up", Optional.empty(), new TypeToken<List<String>>() {
});

[2016-11-10 08:13] #176 closed

[2016-11-12 02:02] snambi opened #177 "Json parsing issue with ResultInfo class"
http://stackoverflow.com/questions/40558646/gson-parsing-error-with-salt-net-api

ResultInfo class contains `StartTime` class
`public class ResultInfo {
    @SerializedName("StartTime")
    private StartTime startTime;
`

But StartTime class has
`public class StartTime {
    private final String dateString;`

I think this creates a problem in parsing json. Please take a look at the SOF thread.

[2016-11-13 16:30] lucidd commented on #177
You have to use the same type adapters the library is using. You can find a full example [here](https://github.com/SUSE/salt-netapi-client/blob/master/src/main/java/com/suse/salt/netapi/parser/JsonParser.java#L45).

[2016-11-25 15:10] #177 closed

[2016-12-13 15:37] hustodemon opened #179 "Status.uptime format change"
Tested on '2015.8.12`: previously the `status.uptime` returned number, now it returns a dictionary. We should adjust the type.

[2016-12-26 07:57] fghawi opened #182 "SSHTarget not found in release 0.9.0"
Hello,
SSHTarget is used in some the examples provided, but it's not found in release 0.9.0 jar.
What am I missing here?
Thanks.

[2016-12-26 08:50] lucidd commented on #182
Hey,
The examples are always in sync with the rest of the code. So when you look at the master branch you will see examples using code from the master branch which is potentially in no release yet.

To see the examples for a particular version checkout the tag for that version and look at the examples there.

For example https://github.com/SUSE/salt-netapi-client/tree/v0.9.0/src/test/java/com/suse

[2016-12-29 15:33] renner commented on #179
Should be fixed with the merge of #180 (supports Salt minions >= 2015.8.9).

[2016-12-29 15:33] #179 closed

[2016-12-29 15:56] renner commented on #182
@fghawi: The `SSHTarget` interface was added after the release of version 0.9.0, it will be included with the next release. If you are looking for Salt SSH example code that works with 0.9.0 then please [check out the 0.9.0 tag](https://github.com/SUSE/salt-netapi-client/blob/v0.9.0/src/test/java/com/suse/salt/netapi/examples/SaltSSH.java) accordingly.

Note that `SSHTarget` is not needed to issue

[2016-12-29 15:56] #182 closed

[2017-01-05 21:38] smatei opened #184 "ClientConfig.SOCKET_TIMEOUT too low if one host is down?"
The default read timeout is 10 seconds. Using that default timeout on a master/api with default timeout (no change in master config), I get timeout exception if a host happens to be down. Raising the read timeout above 15 seconds, that is 16 or higher will return the json that does not contain the missing host. That should be the right behavior. Should ClientConfig.SOCKET_TIMEOUT be a little bit h

[2017-02-10 15:43] jar-ek opened #188 "How to use token authentication for subsequent requests"
Hi,
Sorry for posting here but I didn't know where to go.
Can someone give me an example how to use Token authentication for subsequent requests after login?
I need to use it in web application but could not find any example of this.
Thanks
Jarek

[2017-02-10 16:17] lucidd commented on #188
Hey. This is the right place to ask so no worries :smile:. After you called login and successfully authenticated the same client instance will automatically reuse the token on subsequent requests for alle call* methods that don't take credentials for the ad-hoc authentication.

[2017-02-10 16:48] jar-ek commented on #188
Thanks for the response Lucidd. I admit I don't fully understand how it works yet :-)
Somehow I get the pemissions exception when I run the call from other bean in the same session (login is scuccessful):
com.suse.salt.netapi.exception.SaltUserUnauthorizedException: Salt user does not have sufficient permissions

It goes like this (all beans are session scoped):
login.xhtml -> LoginBean -> run.xth

[2017-02-10 17:48] jar-ek commented on #188
Ok, I think I know what was wrong - I built new client in the Task class which was not authenticated...

[2017-02-13 07:31] renner commented on #188
Good to hear that it works for you now, @jar-ek! Let us know if you have any further questions.

[2017-02-13 07:31] #188 closed

[2017-02-15 09:30] moio opened #190 "Errors in Runner calls are not reported fully"
Runner calls might return Python errors and stack traces as the result, eg.

[code]

We get a gson conversion `Exception` in the assumption the result is expected to be an `Object` and not a `String`:

[code]

It would be great if we had a meaningful `Exception` instead, especially one containing the Python stack trace that could be put in logs for later troubleshooting.

[2017-02-28 18:58] admd commented on #138
After updating Wiremock version to 2.5.1 in pom, I can't reproduce this issue anymore.

[2017-02-28 19:06] admd commented on #149
I would appreciate if you can provide a bit more information regarding this requirement.

[2017-03-01 13:17] lucidd commented on #149
The general idea of this was to have the `*Call` classes know about the module name of the function they are calling. There are multiple places where is would be helpful to know the module name. For example the `state.high` and `state.low` could potentially be used to to bundle multiple `LocalCall`s into one input for `state.high/low` via `module.run`. But to generate this input we need to know th

[2017-03-01 15:19] renner commented on #138
Thanks for this finding @admd! I can confirm that and will update wiremock in `pom.xml` permanently.

[2017-03-01 18:28] admd commented on #149
Thanks @lucidd for the quick reply. While looking into this issue, i see that there are some duplication in *Call classes. Would it make sense to move the common code to an abstract class and extend our *Call classes from that?

[2017-03-02 12:16] admd commented on #149
Ok back to the original issue.  Two scenarios.
1st, keep  the old constructor(for backward compatibility) where module name is appended to function like {modulename}.{function} and then get the module name from this parameter by some parsing rule.

2nd, add another constructor which accepts module name as a separate parameter to function.

Furthermore, function parameter can also be changed to an

[2017-03-02 14:47] lucidd commented on #149
@admd if there is common code that can be put in a super class that would be very welcome. :+1:

[2017-03-02 15:40] renner commented on #138
I updated wiremock with dd7a5e3bbb1577cd00e3c7a565d5579a0bd0ae9a. It looks good to me, no stacktraces anymore.

[2017-03-02 15:40] #138 closed

[2017-03-08 11:18] wheniworking opened #194 "Got com.google.gson.JsonSyntaxException: java.lang.IllegalStateException when I try to get the job info with a Invalid JobId"
I use Jobs.listJob(jid).callSync(saltClient) to get the JobInfo . If the jid is invalid for example 123 , I will get a IllegalStateException .
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a string but was BEGIN_ARRAY at line 1 column 107 path $.return[0].Target-type
However i run the command in shell salt-run jobs.list_job 123, I will get like this:
Arguments:
Fun

[2017-03-13 11:41] snowcrshd commented on #194
What would be an appropriate return value in this case?

Maybe Jobs.listJob could return an `Optional` value? Or throwing a more informative exception?

[2017-03-13 11:54] admd commented on #194
Duplicate of #190

[2017-03-13 13:12] lucidd commented on #194
looks like the problem here is that this.

[code]
`Target-type` is suddenly an array instead of a `String` that is normally is. I see no reason for it being an array so i suspect a bug in salt.

[2017-03-22 16:33] lxx3061313 commented on #104
I still have the problems describ above.
FATAL: java.lang.IllegalStateException: Expected a string but was BEGIN_ARRAY at line 1 column 79 path $.info[0].Target
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a string but was BEGIN_ARRAY at line 1 column 79 path $.info[0].Target
at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$Adapter.read(ReflectiveType

[2017-03-28 07:31] renner commented on #163
According to @adohren this should be fixed with 3bd1213f1502b6d797a52647676b38cb4b278547.

[2017-03-28 07:31] #163 closed

[2017-05-03 12:14] lucidd opened #201 "Xor type adapter is too "specialized""
Xor type adapter should not assume left to be SaltError instead this logic should moved to ResultTypeAdapter.

[2017-05-15 12:03] KrishnaNagar opened #202 "websocket failed to recognize. Deployment.exception: Handshake error"
trying to listen for events on salt's event bus.
salt version report:
Salt: 2015.5.10
         Python: 2.7.12 (default, Dec  6 2016, 12:45:38)
         Jinja2: 2.8
       M2Crypto: 0.25.1
 msgpack-python: 0.4.8
   msgpack-pure: 0.1.3
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.12
          ioflo: Not Installed
          PyZMQ: 14.0.0
           RAET: Not Installed

[2017-05-15 12:32] lucidd commented on #202
the salt [documentation](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html) says that ws4py is required. Do you have that installed?

[2017-05-15 13:33] KrishnaNagar commented on #202
Yes, It is installed.

[2017-05-15 13:54] lucidd commented on #202
you seem to use quite an old version of salt. It should still work but is there any chance you can upgrade to something newer and see if you can reproduce the issue there?

[2017-05-16 05:53] KrishnaNagar commented on #202
Yeah, upgrading the salt version solved my problem. Thanks

[2017-05-16 05:53] #202 closed

[2017-05-16 14:30] renner commented on #202
That is good to hear @KrishnaNagar, let us know in case you experience other problems.

[2017-05-23 15:01] admd commented on #190
Hi @moio  , problem should have been resolved after  #200 . You can test it yourself and if it fulfills your requirement then  you can close this issue.

[2017-05-24 09:57] renner commented on #190
I think we can close it already as @mateiw has tested it successfully, thank you @admd for this patch! If the solution is not sufficient yet feel free to reopen the issue @moio.

[2017-05-24 09:57] #190 closed

[2017-05-24 15:18] moio commented on #190
It's good, thank you very much @admd!!!

[2017-06-01 10:01] renner commented on #149
After the merge of #197 this issue is partly *fixed*: we now have the module information available, but we still would want to have a getter for only the function name. Note that the current `getFunction()` returns the whole string as composed from `module.function`.

[2017-06-01 10:54] admd commented on #149
I will take care of this on weekend .

[2017-06-22 21:59] osbominix commented on #165
The problem is reproducible if the globTarget does not match any minions.

Like the example file [Calls.java](https://github.com/SUSE/salt-netapi-client/blob/master/src/test/java/com/suse/salt/netapi/examples/Calls.java) from package com.suse.salt.netapi.examples,
if both minions("minion1", "minion2") are not running, the value of "grainResults" will be empty.

In this case, it could be helpful to

[2017-07-03 07:47] xiaosazixian opened #206 "javax.websocket.DeploymentException: Handshake response not received"
![image](https://user-images.githubusercontent.com/12694566/27782902-cd7c65d8-6006-11e7-926b-567e67653721.png)
com.suse.salt.netapi.exception.SaltException: javax.websocket.DeploymentException: Handshake response not received.
	at com.suse.salt.netapi.event.EventStream.initializeStream(EventStream.java:108)
	at com.suse.salt.netapi.event.EventStream.<init>(EventStream.java:84)
	at com.suse.salt.ne

[2017-07-03 09:39] xiaosazixian commented on #202
@KrishnaNagar
which version you upgrading

[2017-07-03 09:56] lucidd commented on #206
Can you verify that you have have `ws4py` installed for the websocket support to work in salt?

[2017-07-03 10:32] xiaosazixian commented on #206
I have ws4py installed,but i didn't konw is there any other configuration

[2017-07-04 08:36] xiaosazixian opened #207 "When will the next version be released"

[2017-07-04 09:10] renner commented on #207
Hey @xiaosazixian, we will prepare the next release (0.12) pretty soon, hopefully within the next two weeks. Hold on for it just a little while, which of the [latest changes](https://github.com/SUSE/salt-netapi-client/pulls?q=is%3Apr+milestone%3A%22Version+0.12%22+is%3Aclosed) are you waiting on in particular?

[2017-07-04 11:13] xiaosazixian commented on #207
@renner thank you so much
The bug fix in #200 ，Result < R > instead of just R。

[2017-07-06 13:51] renner commented on #207
Okay, thank you for your patience @xiaosazixian! I will proceed with the 0.12 release these days.

[2017-07-12 08:02] renner commented on #184
@smatei: Indeed I just did some testing with the default settings and I agree: the default `SOCKET_TIMEOUT` should be longer than the Salt defaults so you won't get timeout exceptions. Fixed it with #208.

By the way, @osbominix: I enhanced your recently added comment a bit with 4190cde15fca64de79610ade31e92366038b16b8 which is only valid with that patch.

[2017-07-12 08:13] renner commented on #165
Closing the issue as this is actually the expected behavior for minions that are either down or minions that are not matching an existing target as clarified in [this comment](4190cde15fca64de79610ade31e92366038b16b8). Feel free to revive it in case you have further questions.

[2017-07-12 08:13] #165 closed

[2017-07-12 12:10] renner commented on #184
Closing this, should be fixed with the merge of #208.

[2017-07-12 12:10] #184 closed

[2017-07-14 08:42] renner commented on #207
@xiaosazixian: Yesterday I released 0.12 to maven central, [see here](https://search.maven.org/#artifactdetails%7Ccom.suse.salt%7Csalt-netapi-client%7C0.12.0%7Cjar). Have a lot of fun with the new release and let us know if there is any questions!

[2017-07-14 08:42] #207 closed

[2017-07-17 02:55] xiaosazixian commented on #207
@renner ok, i will try it.

[2017-07-20 14:16] lucidd commented on #201
fixed by https://github.com/SUSE/salt-netapi-client/pull/210

[2017-07-20 14:16] #201 closed

[2017-09-06 08:42] lucidd opened #214 "add constructors for more types"
A lot of types have no constructor because they are usually just created by gson. It would be good to have constructors for those. Also a mapping function for types with a single type parameter would be good.

[2017-09-14 10:54] SwinBlackSea opened #215 "How Can I List All minions by getMinions()?"
code:
[code]
When I try to get all minions by using getMininons(),an error occured to me:
     "Caused by: java.net.SocketTimeoutException: Read timed out"
But when all minions test.ping success ,I can get all minions.however if any minion can not test.ping,the error above come to me .

    Thank for your reply.

[2017-09-14 15:40] mbologna commented on #215
Hi @SwinBlackSea !
Can you check that your `SALT_API_URL` is properly responding via HTTP?

E.g.:
What does `curl -sS http://SALT_API_URL/login -c ~/cookies.txt -H 'Accept: application/json' -d username=USER -d password=PASSWORD -d eauth=pam` returns?

I reviewed and made some edits to your code, see the following:

[code]

and I tested it successfully against a Docker setup deployed using instruc

[2017-11-01 17:49] DarkKnightCZ opened #216 "Allow setting custom lowstate data on startCommand"
Currently, `SaltClient.startCommand` sets fixed lowstate data sent towards API, which limits the usage in certain way.

Following usecase specifies the needs for this.
As Job cache method [prep_jid](https://github.com/saltstack/salt/blob/develop/salt/returners/local_cache.py#L80) can accept `passed_jid` via lowstate data, users / systems might be able to craft custom JID before actual job executio

[2017-12-19 09:22] mcalmer commented on #82
Seems that `expr_form` is deprecated and must be replaced very soon:

[code]

salt is currently at `Oxygen` release and `Fluorine` will be the next one.

[2017-12-19 09:22] mcalmer commented on #103
Seems that `expr_form` is deprecated and must be replaced very soon:

[code]

salt is currently at `Oxygen` release and `Fluorine` will be the next one.

[2018-01-19 13:35] renner opened #227 "Deprecation of the `expr_form` argument"
The `expr_form` argument is deprecated and must be replaced very soon with `tgt_type`:

[code]

Salt is currently at the `Oxygen` release and `Fluorine` will be the next one.

[2018-01-19 13:37] renner commented on #103
Closing this issue as we have #226 merged meanwhile. Created a [new issue](https://github.com/SUSE/salt-netapi-client/issues/103#issuecomment-352685882) with the contents of the last comment.

[2018-01-19 13:37] #103 closed

[2018-01-19 13:40] renner commented on #206
@xiaosazixian: I am closing this issue as there was no progress since a long time. Please feel free to reopen report a new issue in case you still experience those problems or in case you have further questions.

[2018-01-19 13:40] #206 closed

[2018-01-30 09:50] smatei opened #228 "minions command fails in 2017.7.2 (Nitrogen)"
The SaltClient.getMinions and SaltClient.getMinionDetails commands are failing in Nitrogen. If there are any offline minions, the returned json of these commands contains:

{"return": [{"minion": false}]}

This will fail with

In my previous installation, 2016.11.1 (Carbon), the json did not contain the offline minion

The json parser should be changed from JsonParser.RETMAPS to JsonParser.RUN_RES

[2018-01-30 14:22] smatei commented on #228
Thank you @lucidd for letting me know about the changes. I will use the grains.items module to get the same information.

[2018-01-30 14:22] #228 closed

[2018-03-02 02:41] SwinBlackSea commented on #215
@mbologna I am so sorry for no reply to you timely. but I think your answer is not appropriate to me because I can also get all minions if all minions can test.ping successfully.but if just one minion failed by test.ping, the problem will happen.

the background of this issue is that I want to know how many minion is died and how many minions alive.but now I use a method by monitoring events in ma

[2018-03-07 14:36] amendlik commented on #215
@SwinBlackSea Have you tried a longer socket timeout? It takes at least 5 seconds to determine that a test.ping has failed. It looks like your socket will timeout after 3 seconds.

You may also want to look at some of the [manage runner functions](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#module-salt.runners.manage), such as [manage.present](https://docs.saltsta

[2018-03-08 12:34] mbologna commented on #215
@SwinBlackSea now I understand your problem.
In order to fetch all the minions that are either up or down, you should not use `test.ping`, but rather, as @amendlik pointed out, you should use a runner function.
In our case, a simple Java example that uses the runner function:

[code]

In my setup, the output is:

[code]

[2018-03-17 01:51] SwinBlackSea commented on #215
@mbologna Thank you for you help very much, I am so superised by your programme , I test it in my code and I get correct reply from salt-master
and your programme is better than mine.
Thank you !

[2018-04-15 22:19] jeffsigmon opened #231 "When will 0.14.0 release?"
I really want to take advantage of the new compound targeting code.

Thanks!

[2018-04-16 15:19] lucidd commented on #231
I don't know of any official plans for the 0.14.0 but if you really need the compound matcher now its not hard to either build the master branch and use that or copy the compound matcher to your own codebase until it is released. @renner  can probably say more about the release schedule.

[2018-04-16 15:40] jeffsigmon commented on #231
No worries, I'v created my own build of the master branch - that should hold me over until the official release.

[2018-04-16 15:40] #231 closed

[2018-04-18 20:57] renner commented on #231
Hey @jeffsigmon, I hope we can release 0.14.0 even before the end of this week, or at least next week. Sorry for the delay!

[2018-04-18 21:02] renner commented on #215
I am glad that this works for you @SwinBlackSea, closing this issue for now. Feel free to reopen if you still see any problems.

[2018-04-18 21:02] #215 closed

[2018-04-23 08:50] #227 closed

[2018-05-18 12:07] lucidd opened #233 "Investigate better error detection"
Salt seems to have added an option called `full_return` which should give more metadata about the result such as success or failure indication. https://docs.saltstack.com/en/latest/ref/clients/#salt.client.LocalClient.cmd

[2018-07-10 07:44] nadezhdabelan commented on #206
com.suse.salt.netapi.exception.SaltException: javax.websocket.DeploymentException: The HTTP response from the server [404] did not permit the HTTP upgrade to WebSocket  -  error, code the same like from xiaosazixian

[2018-08-16 16:53] danh-fissara opened #237 "Doesn't work with API served on sub-path"
Hi,
I noticed that any path as part of the the base URL gets ignored, because the (`/run`, `/minions` etc.) paths passed to `URI.resolve()` are absolute and so replace whatever was specified in `ClientConfig.URL`:

https://github.com/SUSE/salt-netapi-client/blob/fda385a16c84f59f097c60336dc4b9891fdf3355/src/main/java/com/suse/salt/netapi/client/impl/HttpClientConnection.java#L166

It looks like tri

[2018-08-23 14:49] renner commented on #237
Hey @danh-fissara, we are about to release [version 1.0.0](https://github.com/SUSE/salt-netapi-client/milestone/11) soon and indeed many things are going to change also regarding the client configuration. I don't really understand though what is your question: the API should always be running on a specific URL and those endpoints like `/run` should actually be appended by the call to `resolve()`.

[2018-08-23 14:59] danh-fissara commented on #237
Hey, thanks for the response. To clarify, we're running the API behind a proxy, so a request to `https://example.com:443/api/run` gets proxied to the salt-api as `http://localhost:8000/run`.

Anyway, even without the proxy, the docs seem to say running at sub-paths is supported via the `root_prefix` config:
https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#a-rest-a

[2018-08-23 15:07] lucidd commented on #237
@danh-fissara hey yeah you are right the problem is the leading `/` we added everywhere. I think it makes sense to support your use case and it should be easy to find all the endpoints strings in the code and remove the `/` there.

[2018-09-19 10:55] KinoamyFx opened #240 "websocket handshake 500, javax.websocket-api.jar conflict"
# problem

I use salt-netapi-client in my web app,

but chrome could not establish websocket session, error code 500.

I found when handshake the WsServerContainer could not be casted to ServerContainer,
after I googled , I found javax.websocket-api will conflict in Tomcat7

# solution

So I excluded the javax.websocket-api in salt-netapi-client, it works well now.

# suggestion
remove
[code]

or

[2018-10-22 12:35] #237 closed

[2018-10-22 12:39] renner commented on #237
Okay, #241 was merged so I expect this issue to be fixed with the next release (or current master). Please let us know if it works for you or if there is any further issues, @danh-fissara.

[2018-10-31 06:23] asshidhak opened #242 "com.suse.salt.netapi.calls.modules.Cmd --> cmd.script"
cmd.script  module is missing in  com.suse.salt.netapi.calls.modules.Cmd

[2018-11-01 10:00] #242 closed

[2018-11-23 11:13] renner commented on #240
Hey @KinoamyFx, thanks for reporting this. Removing the dependency would break compilation, but I created a PR to set the scope to `provided`, see #244. Once this is merged we should be able to close this issue.

[2018-11-26 21:31] #240 closed

[2018-12-04 15:29] rmartens-embotics commented on #233
My "solution" was to add `retcode` to the `Return` class and make it accessible in `Jobs.Info`. Not sure if this fully makes sense but it was enough for my purposes.

[2018-12-17 23:39] bdchatham opened #245 "Get job results from a asynchronous runner"
I am trying to get the results of an asynchronous job by job id using the following method: public ResultInfoSet getJobResult(final String job).

Is there anything particularly unique when trying to get the results of jobs executed by runners? I am finding my result set to be empty despite getting the expected results when running the runner script from command line. Also, I have implemented a syn

[2019-01-02 23:18] bdchatham commented on #245
Eventually determined the issue. Going to close the issue.

[2019-01-02 23:18] #245 closed

[2019-01-10 10:23] wzlee opened #246 "This Result serializer exception"
The Controller:
[code]
The Exception:
[code]

[2019-01-14 15:20] lucidd commented on #246
@wzlee i'm not really sure whats going on here. The stacktrace does not refer to any code of our code. We use gson for de/serialization of json and all serializes should be present. It would help if you could minimize the issue in an example project with the minimal required dependencies to reproduce it.

[2019-01-14 15:30] wzlee commented on #246
@lucidd I used the salt-netapi-client of 0.16.0-SNAPSHOT, and this code like:
`Map<String, Result<Boolean>> results = Test.ping().callSync(client, globTarget, auth).toCompletableFuture().join();`
when use springmvc controller @ResponseBody to serialization json, then throw this exception.
So, I want to help me how to make the 'Result<T>' successful to work with @ResponseBody.

[2019-01-15 02:54] wzlee commented on #246
@lucidd how about the question of mine? Do you understand what is mine question?

[2019-01-15 16:09] lucidd commented on #246
@wzlee i think i understand now. Those annotations automatically try to serialize the results. I'm not familiar with the frameworks used here but maybe you can implement some custom serializer for the `Result` type or what should work in any case you could create your own result type and map our result to yours. Those options would also allow you to have more control over the format of the result.

[2019-01-22 09:57] wzlee commented on #246
[code]

[2019-01-22 09:57] #246 closed

[2019-01-22 10:12] wzlee opened #249 "How to change the timezone of master or api?"
The server's timezone is right,But the token's date is wrong timezone:
[code]
[code]
![image](https://user-images.githubusercontent.com/4182865/51528366-784d9980-1e71-11e9-97bc-e9d1313a2e2d.png)

So, How I can change the timezone of salt to my timezone?

[2019-01-22 14:37] lucidd commented on #246
@wzlee cool it seems you found a way to write a custom serializer for it :+1:  Just one tip instead of `value.error()` and `value.result()` you can use the `left` and `right` values that you get. That way you don't get Optionals

[2019-01-31 05:47] wzlee commented on #249
Is any one can help me?

[2019-02-05 16:05] lucidd commented on #249
@wzlee this sounds like a generic salt question. Since i don't know the answer to this i think its better to ask this on the saltstack github https://github.com/saltstack/salt.

[2019-02-05 22:39] dmacvicar commented on #249
@wzlee Can you reproduce this without the Java client? (eg. pure curl or httpie calls?)

[2019-03-05 13:55] lucidd opened #260 "LocalAsyncResult is not handled properly if no minions match"
Salt returns the following when there is no matching minion.

[code]
On sync calls this is ok since we expect a map of minion id -> result. So said result would be an empty map and fit well.

In case of async we expect the jid and a list of minion ids which are clearly missing and a jid just does not exist anyway without a match. This needs be handled better and we need to interpret this special r

[2019-04-03 09:39] #260 closed

[2019-04-03 10:28] admd opened #266 "Update CmdExecCodeAll refrences to CmdResult as class gets renamed in salt-net-api"
This [PR](https://github.com/SUSE/salt-netapi-client/pull/253) rename the class CmdExecCodeAll and breaks the suse-manager, we need to adjust suse-manager code accordingly.

[2019-04-03 10:29] #266 closed

[2019-04-17 12:43] zhuhaolin162 opened #271 "how could I get salt_returns (mysql ) when I use salt-netapi-client run method"
mysql> select * from jids;

 I use this method
public <T> CompletionStage<Map<String, Object>> run(String username, String password, AuthModule eauth, String client, Target<T> target, String function, List<Object> args, Map<String, Object> kwargs) {
        Map<String, Object> props = new HashMap();
        props.put("username", username);
        props.put("password", password);
        props.put

[2019-04-17 13:00] zhuhaolin162 opened #272 "Using the asynchronous run method, the test found that the actual task was less than the original task."
SaltClient.class

By using the following asynchronous run method, saltstack has fewer actual tasks than it does in concurrent situations, What should I do? Are there any configurations that are not configured correctly?

public <T> CompletionStage<Map<String, Object>> run(String username, String password, AuthModule eauth, String client, Target<T> target, String function, List<Object> args, Map<St

[2019-04-17 15:37] renner commented on #272
Hey @zhuhaolin162, what exactly do you mean when you say "saltstack has fewer actual tasks than it does in concurrent situations"? How exactly do you use this method and what is the unexpected outcome vs. the expected?

[2019-04-18 01:11] zhuhaolin162 commented on #272
Test purpose :
I want to generate 100 files in /tmp/test , but in fact it just generate 75 files(the nums is not exactly every times)

Test result:
[root@rhel72 test]# pwd
/tmp/test
[root@rhel72 test]# ls -l |grep '^-'|wc -l
75

Test code:
public static String ayscExecute(String ip, final String command) {
        try {
            CloseableHttpAsyncClient httpClient = HttpClientUtils.defaultClien

[2019-04-18 03:18] #271 closed

[2019-05-22 17:23] chengpengvb opened #274 "Response code: 500"
my error is
![QQ截图20190523012643](https://user-images.githubusercontent.com/28288567/58195136-dbedb380-7cf9-11e9-9bfe-6e2cc8405fcc.png)

config is
![QQ截图20190523012754](https://user-images.githubusercontent.com/28288567/58195238-19ead780-7cfa-11e9-87fb-c7ad66e567a1.png)
![QQ截图20190523012812](https://user-images.githubusercontent.com/28288567/58195244-1ce5c800-7cfa-11e9-98b2-39513f3e871d.png)

[2019-05-22 17:25] chengpengvb commented on #274
this is my code
![QQ截图20190523012433](https://user-images.githubusercontent.com/28288567/58195044-a3e67080-7cf9-11e9-9b36-7e87608de0d3.png)

[2019-05-25 07:55] chengpengvb commented on #274
The problem is solved, my version is too low, it can be upgraded.

[2019-05-27 18:13] britho opened #275 "0.16.0 should be 1.0.0"
I noticed that the differences between 0.14.0 and 0.16.0 were vast.  There are a lot of breaking changes (e.g., deprecation/renaming of classes and packages).  Shouldn't this have been a 1.0.0 update instead of 0.16.0 following semver, or does the Java community function under a different set of semver assumptions?

[2019-05-28 10:10] lucidd commented on #275
pre 1.0.0 versions are treated special in semver. Here is the relevant part from semver documentation.

[2019-05-29 17:27] britho commented on #275
That makes a lot more sense.  I should do my homework in the future.  Thanks for taking the time to respond.

[2019-05-29 17:27] #275 closed

[2019-06-24 09:46] asxtray opened #276 "Can't open WebSocketEventStream"
it seems that WebSocketEventStream can only work with insecure http sockets. Please have a look at line 46:
`URI adjustedURI = (new URI(uri.getScheme() == "https" ? "wss" : "ws", uri.getSchemeSpecificPart(), uri.getFragment())).resolve("ws/" + token.getToken());`
Despite the provided uri schema is HTTPS it fails direct comparison as it's String object refefence

[2019-07-13 18:18] renner commented on #274
Hey @chengpengvb, sorry for the late reply. I am glad that your problem is solved meanwhile, closing this issue.

[2019-07-13 18:18] #274 closed

[2020-04-23 04:00] ZYunf opened #283 "This example（Events.java） cannot be run!"
# I have a Exception:

`javax.websocket.DeploymentException: The HTTP response from the server [404] did not permit the HTTP upgrade to WebSocket`

It comes from WebSocketEventStream,I don't know how to solve this problem，I hope to get your advice！Thank you in advance！
@dmacvicar

[2020-04-23 15:59] renner commented on #283
Hey @ZYunf, thanks for reaching out! I just tried to run the `Events.java` example and in fact it is working here as expected. You need both `salt-master` and `salt-api` services to be running with a proper configuration, and then you would change `Events.java` to match that configuration. For instance if your master configuration has:

[code]

Your java code should look like this (please replace

[2020-04-24 06:10] ZYunf commented on #283
@renner Thank you for your prompt reply! I've already installed ws4py,and then I have restarted `salt-master` and `salt-minion`.But it seems that `ws4py` is not working.I  run the other modules in `Java` that work very well.I  have got the  token.But running `Events.java`, the following error occurred:

[code]
`ws4py` and `cherrypy` has been installed like this:

The following is my configuration

[2021-01-07 07:50] seaguest opened #290 "POST /minions which returns job id not implemented?"
Hi,

I didn't find this rest api:
[code]

best regards

[2021-02-11 17:11] renner commented on #290
Hello @seaguest, sorry for the delayed reply! In fact the implementation of that endpoint had been removed in 2017 (with fc16d281ef7fa4b6bc5ff5592c1f46ba18fe0143). This endpoint is from our perspective not really needed as every call to an execution module can be done by calling the root (`/`) endpoint of the API, which is the method we would like to promote.

This would be a minimal example to pe

[2021-02-18 09:26] renner commented on #290
Closing the issue as the original question should be answered. Please reach out or reopen if there is further questions.

[2021-02-18 09:26] #290 closed

[2021-02-18 15:04] renner commented on #249
@wzlee Is this still a problem for you? To me this seems to be a timestamp that needs to be converted to the correct timezone on the client side, i.e. when you are calling `new Date()`. I am closing the issue as there was no response from you since a long time, but feel free to reopen it in case you suspect an issue with the library.

[2021-02-18 15:04] #249 closed

[2021-03-29 17:58] NemanyaM commented on #283
@ZYunf, Have you possibly tried, of course, if the ws4py works properly to use a Salt auth module enum AuthModule.PAM instead of the AuthMoudle.AUTO in line 47 of an Events class, when obtaining the token?

[2021-03-29 20:02] NemanyaM commented on #283
@ZYunf If you make ws4py set up correctly, and try to obtain AuthModule.PAM when obtaining a login token, shouldn't give you a Handshake error.

[2021-03-29 20:43] NemanyaM commented on #276
@asxtray Actually, seems that there is no `HTTPS` implementation at all, as I could see, in this part of a project, if I am right by any chance, the ternary condition could be removed. Also, maybe constants could be introduced for better readability and as a good practice.

[2022-04-01 12:01] aramcap opened #299 "Question: How can I write or modify a file?"
Salt has modules like [salt.modules.file.manage_file](https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.manage_file) or [salt.modules.file.line](https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.line) to write or modify contents in a file. Does exists any method to write/modify files? I don't find it in the [